.item {
	display: inline-block;
	margin: 5px;
}

#newName {
	display: inline-block;
	width: 60%;
	float: left;
}

#submit {
	display: inline-block;
	margin-left: 5px;
	float: left;
}

[type] {
	margin: 5px;
}